.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

/* -------- The real deal ------- */

body {
    background-color: #fe7f9c;
    color: white;
}

.logo {
    display: block;
    margin-top: 40%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
}

.wrapNav {
    background-color: #fe7f9c;
    line-height: 50px;
    height: 50px;
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.leftFloater {
    float: left;
}

.rightFloater {
    float: right;
}

.clearFloater {
    clear: both;
}

.wrapCenter {
    background-color: #fe7f9c;
    text-align: center;
}

.bigStdBtn {
    border: none;
    background-color: white;
    color: #fe7f9c;
    height: 70px;
    width: 240px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    transition: all .2s ease-in-out;
}

.bigStdBtn:active {
    transform: scale(1.07, 1.07);
}

.packBtn {
    border: none;
    background-color: white;
    color: #fe7f9c;
    height: 240px;
    width: 240px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: all .2s ease-in-out;
}

.packBtn:active {
    transform: scale(1.07, 1.07);
}

.lock {
    height: 25px;
    padding-top: 5px;
}

.emptySpace {
    height: 300px;
}

.navBtn {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border: none;
    background: none;
    cursor: pointer;
    user-select:none;
}

.navBtn:active svg {
  transform: scale(1.3);
}
.navBtn::-moz-focus-inner {
  border: 0;
}
.navBtn svg {
  outline: none;
  transition: transform 0.3s linear;
}

.browseBtn {
    border: none;
    background-color: white;
    color: #fe7f9c;
    height: 120px;
    width: 120px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    display: inline-block;
    margin: 3px;

    transition: all .2s ease-in-out;
}

.packBtn:active {
    transform: scale(1.07, 1.07);
}

/* ------- Slider -------- */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*-----select*/

* {
   -webkit-user-select: none;
}